.slide-in-menu {
    position: fixed;
    width: 300px;
    max-width: 70%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: #F2D6D3;
    color: black;
    padding: 32px 16px;
    transition: transform 0.4s ease-out;
    font-family: sans-serif;
    font-weight: bold;
}

.hidden {
    transform: translateX(-100%);
}

.click-catcher {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ccc;
    opacity: 0;
}

.close-button {
    font-size: 32px;
    color:  #D8897F;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: -4px;
    font-weight: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

