.forecast-item {
    width: 60%;
    margin-bottom: 35px;

    .High-Temp {
        font-size: 18px;
        color: #EBC3BE;
        font-family: sans-serif;
    }

    div {
        text-align: center;
    }

    i {
        font-size: 48px;
        color: #EBC3BE;
        margin-bottom: 20px;
    }

    &:first-child {
        font-size: 32px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .Low-Temp {
            display: none;
        }

        i {
            font-size: 72px;
            margin-bottom: 30px;
        }    

        .Forecast-Day {
            font-size: 20px;
        }         
        
    }

}














/*

@media (min-width: 481px)  {

    .ForecastItem {
        width: 34%;
    }

    .ForecastItem:first-child {
        font-size: 32px;
        width: 100%;
    }

}

@media (min-width: 768px) {

    .ForecastItem {
        width: 24%;
        color: #D8897F;
        margin: 0 25px;
    }

    .ForecastItem:first-child {
        font-size: 32px;
        width: 100%;
    }

}




@media (min-width: 1025px) {

    .ForecastItem:first-child {
        all: unset;
    }

}
*/