
/* Default styling - all screen sizes unless overridden by media queries below */

.forecast-item {

    flex-basis: 100%;
    margin-bottom: 3.3em;
    font-size: 16px;

    .high-temp {
        font-size: 26px;
        color: #EBC3BE;
        font-family: sans-serif;
    }

    .forecast-day {
        font-size: 26px;
    }

    & > div {
        text-align: center;
    }

    .forecast-icon {
        font-size: 48px;
        color: #EBC3BE;
        margin-bottom: .25em;
    }

    &:first-child {

        flex-basis: 100%;
        margin-bottom: 2.5em;
        font-size: 32px;

        .low-temp {
            display: none;
        }

        .forecast-icon {
            font-size: 72px;
        }  
        
        .high-temp, .forecast-day {
            font-size: 48px;
        }        

    }

}

@media screen and (min-width: 481px)  {

    .forecast-item {
        flex-basis: 50%;
    }

}

@media screen and (min-width: 768px) {

    .forecast-item {
        flex-basis: 25%;
    }

}


@media (min-width: 1025px) {

    .forecast-item {

        flex-basis: 20%;

        &:first-child {
            flex-basis: 20%;
        }

    }

}

