.ForecastItem {
    width: 60%;
    margin: 0
}

.ForecastItem:first-child {
    font-size: 32px;
    width: 100%;
    margin: auto;
}

.ForecastItem:first-child .Low-Temp {
    display: none;
}

.High-Temp {
    font-size: 18px;
    color: #EBC3BE;
    font-family: sans-serif;
}



.ForecastItem:first-child i {
    font-size: 72px;
    margin-bottom: 30px;
}


.ForecastItem div {
    text-align: center;
}

.ForecastItem i {
    font-size: 48px;
    color: #EBC3BE;
    margin-bottom: 20px;
}

.ForecastItem:first-child .Forecast-Day {
    font-size: 20px;
} 


@media (min-width: 481px)  {

    .ForecastItem {
        width: 34%;
    }

    .ForecastItem:first-child {
        font-size: 32px;
        width: 100%;
        margin: auto;
    }

}


@media (min-width: 768px) {

    .ForecastItem {
        color: #D8897F;
        margin: 0 25px;
    }

    .ForecastItem:first-child {
        font-size: 32px;
        width: 100%;
        margin: auto;
    }

}


@media (min-width: 1025px) {

    .ForecastItem:first-child {
        all: unset;
    }

}
