.city-input {
    margin: 15px 0;
    font-style: italic;
    width: 90%;
    background-color: #F2D6D3;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #D8897F;
    font-size: 15px;
}